<!--The content below is only a placeholder and can be replaced.-->
<header id="header">
  <nav id="nav-bar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#home"><img id="header-img" class="bg_brand" src="https://belk.scene7.com/is/image/Belk/Belk-Logo-Black?$DWP_HEADER_LOGO$" alt=""></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="brand-mobile"><a href="#home"><img class="bg_brand" src="https://belk.scene7.com/is/image/Belk/Belk-Logo-Black?$DWP_HEADER_LOGO$" alt=""></a></li>
          <li><a class="nav-link" href="#jewelry">Jewelry</a></li>
          <li><a class="nav-link" href="#fashion">Fashion</a></li>
          <li><a class="nav-link" href="#bags">Bags</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div id="home">
  <div class="container_v">
    <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/nm-UHgBDu4k?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=0&autoplay=1" frameborder="0" allowfullscreen class="video"></iframe>
  </div>
  <div class="home_content">
    <p>Harry Winston</p>
    <h2>Say yes to perfaction</h2>
    <div class="see_more_box">
      <a href="https://www.harrywinston.com/en" target="_blank" class="see_more">See More</a>
    </div>
  </div>
</div>
<div class="section" id="jewelry">
  <img class="full_image" src="https://cdn2.i-scmp.com/sites/default/files/images/methode/2017/12/11/001e6546-c9d8-11e7-9743-ef57fdb29dbc_1320x770_150923.jpg" alt="">
    <div class="section_content">
      <p>High Jewelry</p>
      <h2>Pick the style you like</h2>
      <div class="see_more_box">
        <a href="#" class="see_more">See More</a>
      </div>
    </div>
</div>
<div class="section" id="fashion">
  <img class="full_image" src="https://fsalonandspa.com/images/blog/fsalon_blog_landing.jpg" alt="">
    <div class="section_content">
      <p>Fashion</p>
      <h2>Pick the style you like</h2>
      <div class="see_more_box">
        <a href="#" class="see_more">See More</a>
      </div>
    </div>
</div>
<div class="section" id="bags">
  <img class="full_image" src="https://images.unsplash.com/photo-1526326881828-23b172e634de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" alt="">
    <div class="section_content">
      <p>Bags</p>
      <h2>Pick the style you like</h2>
      <div class="see_more_box">
        <a href="#" class="see_more">See More</a>
      </div>
    </div>
</div>
<div class="subscribe">
  <div class="info_news">
    <p class="title_label">Contact an advisor</p>
    <p>Available 24/7.
      To speak with a Customer Care Representative, call 
      <a href="#">1.800.500.0005</a>
      or use the email service below.</p>
    <div style="display: flex;">
      <a href="#">Call</a>
      <a href="#" style="margin-left: 20px;">Email</a>
    </div>
  </div>
  <div class="info_news">
    <p class="title_label">Find a store</p>
    <p>Click geolocation below to find the closest BELK stores</p>
    <div style="display: flex;">
      <svg style="width:18px;height:18px;display:inline-flex;align-self: center;margin-right: 5px;" viewBox="0 0 24 24">
        <path fill="#000000" d="M12,8A4,4 0 0,1 16,12A4,4 0 0,1 12,16A4,4 0 0,1 8,12A4,4 0 0,1 12,8M3.05,13H1V11H3.05C3.5,6.83 6.83,3.5 11,3.05V1H13V3.05C17.17,3.5 20.5,6.83 20.95,11H23V13H20.95C20.5,17.17 17.17,20.5 13,20.95V23H11V20.95C6.83,20.5 3.5,17.17 3.05,13M12,5A7,7 0 0,0 5,12A7,7 0 0,0 12,19A7,7 0 0,0 19,12A7,7 0 0,0 12,5Z" />
    </svg>
      <a href="https://www.google.com/maps/search/belk+store/@30.2266107,-81.615497,12z/data=!3m1!4b1" target="_blank">Geolocation</a></div>
  </div>
  <form action="https://www.freecodecamp.com/email-submit" id="form" class="info_news form-inline">
    <div class="form-group">
      <label for="email" id="email-label" class="title_label">Newsletter</label>
      <p>Subscribe to receive news from Belk</p>
      <input name="email" id="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter your email" required>
      <input type="submit" value="Ok" id="submit" class="btn btn-default"><br />
      <small id="emailHelp" class="form-text text-muted">
        I agree to the <a href="#">Privacy Policy</a>
      </small>
    </div>
  </form>
</div>
<div class="sec_fixed">
  <div class="footer_page">
    <img src="https://static1.squarespace.com/static/563d0acce4b0af3807b69a54/564a87f9e4b06eb2db98c76b/564bab30e4b09c82ca0362b4/1447799678344/Belk-logo-white.png" alt="">
  </div>
</div>

<router-outlet></router-outlet>
